

.results {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 50vh;
    width: 100%;
    z-index: -1;
    font-size: 0.6em;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  
    margin: 0 0;
    padding: 0;
    list-style-type: none;
  
    &:before {
      content: '';
      position: absolute;
      top: calc(var(--border-radius) * -1);
      left: 0;
      width: 100%;
      background-color: #F7F9FB;
  
      height: calc(
        (var(--height,0) * 1px)
        + var(--border-radius)
      );
      transition: height .5s;
      border-radius: inherit;
    }
  }
  
  
  .result-item {
    margin: 0.25rem .5em;
    padding: .5em .6em;
    list-style-type: none;
    border-radius: .5rem;
    animation: pop-in .3s backwards;
    animation-delay: calc( var(--i) * 0.08s );
    background-color: transparent;
    transition: all .1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #333;
  
    &:before {
      content: 'dog';
      text-transform: uppercase;
      font-size: .5rem;
      font-weight: bold;
      background: #6D7386;
      color: white;
      border-radius: .25em;
      margin-right: .5rem;
      display: inline-block;
      padding: 0.25em;
    }
  
    &:hover {
      background-color: #EDEFF2;
    }
  
    // transform: translateY( 
    //   calc(
    //     (var(--dy, 0)) * 1px 
    //   )
    // );
    // transition: transform .3s linear;
  
    @keyframes pop-in {
      from { transform: scale(0.8); opacity: 0; }
    }
  }